# Google Gemini API key required only for generating assets
GEMINI_API_KEY=

# Local development variables
# Uncomment to fast-boot directly into a specific theater testing screen (e.g., promenade, blackbox)
#VITE_START_THEATER=promenade

# Enable debug logging for the AI bots in the client console
VITE_DEBUG_AI=true

# Local analytics beacon host url (requires protocol, e.g. http://localhost:8080)
# Falls back to https://overture.dumbhome.uk in production
VITE_ANALYTICS_HOST=http://localhost:8081
# enables cors headers for localhost
CORS=localhost

# Itch.io API key, for deploying to itch.io
ITCH_IO_KEY=

# Analytics dashboard basic auth credentials
ANALYTICS_BASIC_AUTH_USER=admin
ANALYTICS_BASIC_AUTH_PASS=admin

# Paths for analytics data persistence
ANALYTICS_JSONL_PATH=analytics.jsonl
ANALYTICS_DB_PATH=analytics.db
